* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    padding: 10px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;


}
.btn-contact {
    background: #FFF8F3;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 10px 35px;
    height: 64px;
    border-radius: 5px;
    margin-left: 30px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and navigaton */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 51px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* style banners */
.banner {
    display: flex;
    align-items: center;
    padding-left: 200px;
}
.banner img{
    margin-left:530px;
}
.banner-title {
    font-weight: 600;
    font-size: 85px;
    margin-bottom: 20px;

}

.banner-sub-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {

}

.about .about-info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about .about-info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* what i do section style */
.what-i-do {
    margin-top: 130px;
}

.what-i-do-title {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
}

.what-i-do-description {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
    padding: 0 155px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill .skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill .skill-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
/* resume style css */
.resume{
    margin-top: 130px;
}
.resume-title1{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 113px;
}
.resume-content-container{
    display: flex;
    gap: 30px;
}
.resume-title2{
    font-weight: 700;
    font-size: 28px;
    color: #474747;
}
.resume-item{

}
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.resume .sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;

}
.resume .description{
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}
.resume .resume-button{
    margin-top: 50px;
    text-align: center;
}
/* footer styles */
footer{
    background: #FFF8F3;
}
/* contact css styles */
.contact{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 130px;
    padding: 130px 200px;
    margin-top: 130px;
}
.contact-title{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}
.contact-description{
    color: #757575;
    margin-bottom: 30px;
}
.contact a{
    text-decoration: none;
    padding-left: 15px;
}
.contact input[type="text"], textarea{
    border: 0;
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 20px;
}


/* media queries for small device */
@media screen and (max-width:576px) {
    .header{
        background-image: none;
        text-align: center;
    }
    .banner {
        flex-direction: column;
        margin: 0;
        padding: 20px;
        padding-bottom: 0;
    }
    .banner-title {
        font-size: 65px;
    }
    .banner img{
        width: 100%;
        margin:0px;
    }
    .btn-primary, .btn-contact{
        margin-bottom: 10px;
        margin-left: 0px;
    }
    nav{
        flex-direction: column;
        padding: 20px 20px;
    }
    nav ul{
        flex-direction: column;
        padding: 0px 5px;
        align-items: center;
    }
    nav li{
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .about{
        padding: 20px 20px;
    }

    .about-info-container {
        flex-direction: column;
    }

    .what-i-do-description {
        padding: 0px 20px;
    }

    .skills-container {
        flex-direction: column;
        text-align: center;
    }

    .resume-content-container {
        padding: 0px 20px;
        flex-direction: column;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        padding: 20px 20px;
    }
    .contact input[type="text"], textarea {
        width: 81%;
    }
}
/* media queries for tablet device */
@media screen and (min-width:577px) and (max-width:768px){
    .header {
        background-image: url(../images/header_bg.png);
    }
    .banner {
        flex-direction: column;
        margin: 0;
        padding: 0px 50px;
    }
    .banner-title {
        font-size: 65px;
    }
    .banner img{
        width: 100%;
        margin:0px;
    }
    nav{
        padding: 50px;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    .about-info-container {
        flex-direction: column;
    }

    .skills-container {
        flex-direction: column;
        text-align: center;
    }

    .resume-content-container {
        padding: 0px 20px;
        flex-direction: column;
        text-align: center;
    }

    .contact {
        flex-direction: column;
    }
}

/* media queries for medium device */
@media screen and (min-width:769px) and (max-width:992px){
    .header {
        background-image: url(../images/header_bg.png);
    }
    .banner{
        padding-left: 50px;
    }
    
    .banner img {
        width: 60%;
        margin-left: 0;
        margin-top: 105px;
    }
    nav{    
        padding: 20px 50px;
    }
    .btn-primary, .btn-contact{
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .about-info-container {
        flex-direction: column;
    }

    .resume-content-container {
        padding: 0px 20px;
    }
}

/* media queries for Laptop-s device */
@media screen and (min-width:993px) and (max-width:1200px){
    .header {
        background-image: url(../images/header_bg.png);
    }

    .banner{
        padding-left: 50px;
    }
    .banner img {
        width: 50%;
        margin: 0px;
    }
    .btn-primary, .btn-contact{
        font-size: 20px;
    }
    nav{    
        padding: 50px 50px;
    }
    .resume-content-container {
        padding: 0px 20px;
    }
}
/* media queries for Laptop-L device */
@media screen and (min-width:1201px) and (max-width:1440px){
    .btn-primary, .btn-contact {
        font-size: 15px;
        padding: 6px 9px;
    }
    .banner img {
        margin-left: 0;
    }

}

